/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F0F8FF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table, td, th {
    margin-left:auto;
    margin-right: auto;
    position: relative; 
    border-style:groove;
    border-width:3px;
    border-spacing: 2px;

}

#headline {
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 16em;
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 70px;
}
#information {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    position: relative; 
    width: 40em;
   
 }

#overhead {
    margin-left:auto;
    margin-right: auto;
    position: relative; 
    width: 70em;
}

#container {
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #FFFFFF; 
    border-style:groove;
    border-width:1px;
    border-spacing: 2px;
    width: 70em;

}

.chat {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

#rules{
    margin-left:auto;
    margin-right: auto;
    display: block;
    width: 35em;
    height: 10em;
}

.boardClass {    
    position: relative;
 
    width: 30em;
}

#rulesDiv{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
   
} 

#appendHere {
    margin-left:auto;
    margin-right: auto;
    width:70em;
    position:absolute;

}

#flow {
    margin-left:auto;
    margin-right: auto;
    display:block;
    width: 400px;
    height: 200px;
    border-style:groove;
    border-width:4px;
}

#boardDivExit {
    text-align: center;
    margin-left:auto;
    margin-right: auto;

}

#msg {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    display:block;
    border-style:groove;
    border-width:4px;
}


#send {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    display:block;
}

.center {  
    margin-left:auto;
    margin-right: auto;
    display:block;
}

#guessArea {
    width: 400px;
    height: 200px;
}

#waitingForPlayers {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    position: relative; 
    width: 40em;
   
 }
